<!DOCTYPE html>
<html>
<head>
    <title>Audio Player</title>
    @Styles.Render("~/Content/SiteStyles")
</head>
<body>
    <header>
        <h2>Music Player</h2>
    </header>
    <div ng-app="module1" ng-controller="controller1" class="content">
        <div class="audio-controls-container">
            <span class="current-audio-controls-container">
                @*<button ng-click="reset(currentAudio.audio)">Reset</button>*@
                <button ng-click="playPrev(currentAudio)" class="play-button prev"></button>
                <button ng-click="play(currentAudio.audio)" class="play-button" ng-class="currentAudio.audio.paused ? 'play' : 'stop'"></button>
                <button ng-click="playNext(currentAudio)" class="play-button next"></button>
                <input type="range" step="0.01" min="0" max="1" class="play-volume" ng-model="currentAudio.audio.volume" />
                <button ng-click="refreshData()" class="play-button refresh"></button>
            </span>
            <div class="single-audio-controls-container">
                <div class="artist-label">{{currentAudio.artist}}</div>
                <div class="audio-title-label">{{currentAudio.name}}</div>
                <label>{{currentAudio.audio.currentTime | timeInMins }}</label>
                <input type="range" step="0.01" min="0" max="1" class="play-progress" ng-model="currentAudio.audio.progress" />
                <label>{{currentAudio.audio.remaining | timeInMins}}</label>
            </div>
        </div>
        <table class="audio-grid" border="0">
            <tr>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th>Time</th>
                <th>Plays</th>
                <th>Skips</th>
            </tr>
            <tr class="song" ng-class="{'current': (audio == currentAudio)}" ng-repeat="audio in audios" ng-click="playSong(audio)">
                <td>{{$index+1}}</td>
                <td><div>{{audio.name}}</div></td>
                <td>{{audio.artist}}</td>
                <td>{{audio.audio.duration | timeInMins}}</td>
                <td>{{audio.plays}}</td>
                <td>{{audio.skips}}</td>
            </tr>
        </table>
    </div>
    @Scripts.Render("~/bundles/audioApp")
</body>
</html>