<!DOCTYPE html>
<html>
<head>
    <title>Audio Player</title>
    @Styles.Render("~/Content/SiteStyles")
</head>
<body>
    <header>
        <h2>Music Player</h2>
    </header>
    <div ng-app="module1" ng-controller="controller1" class="content">
        <div class="audio-controls-container">
            <span class="current-audio-controls-container">
                @*<button ng-click="reset(currentAudio.audio)">Reset</button>*@
                <button ng-click="playPrev(currentAudio)" class="play-button prev"></button>
                <button ng-click="play(currentAudio.audio)" class="play-button" ng-class="currentAudio.audio.paused ? 'play' : 'stop'"></button>
                <button ng-click="playNext(currentAudio, false)" class="play-button next"></button>
                <input type="range" step="0.01" min="0" max="1" class="play-volume" ng-model="currentAudio.audio.volume" />
                <button ng-click="refreshData()" class="play-button refresh"></button>
                <button class="play-button add" ng-click="isShowAddPanel = !isShowAddPanel" ></button>
            </span>
            <div class="single-audio-controls-container">
                <div class="artist-label">{{currentAudio.artist}}</div>
                <div class="audio-title-label">{{currentAudio.title}}</div>
                <button ng-click="isRepeat = !isRepeat" class="play-button repeat" ng-class="isRepeat ? 'active' : ''"></button>
                <label>{{currentAudio.audio.currentTime | timeInMins }}</label>
                <input type="range" step="0.01" min="0" max="1" class="play-progress" ng-model="currentAudio.audio.progress" />
                <label>{{currentAudio.audio.remaining | timeInMins}}</label>
            </div>
        </div>
        <table class="audio-grid" border="0">
            <tr>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th>Time</th>
                <th>Plays</th>
                <th>Skips</th>
            </tr>
            <tr class="song" ng-class="{'current': (audio == currentAudio)}" ng-repeat="audio in audios" ng-click="playSong(audio)">
                <td>{{$index+1}}</td>
                <td><div>{{audio.title}}</div></td>
                <td>{{audio.artist}}</td>
                <td>{{audio.audio.duration | timeInMins}}</td>
                <td>{{audio.plays}}</td>
                <td>{{audio.skips}}</td>
            </tr>
        </table>
        <div ng-show="isShowAddPanel">
            <form name="upload" class="form" data-ng-submit="addFile()" enctype="multipart/form-data">
                <h4>Add New File To The Playlist</h4>
                <div>Track Title<input type="text" ng-model="newTitle" name="newTitle" /></div>
                <div>Artist Name <input type="text" ng-model="newArtist" name="newArtist" /></div>
                <input type="file" name="audio" onchange="angular.element(this).scope().uploadedFile(this)" />
                <button type="submit">Upload</button>
                <p>{{uploadError}}</p>
            </form>
        </div>
    </div>
    @Scripts.Render("~/bundles/audioApp")
</body>
</html>