body {
    padding: 50px 30%;
}

button{
    border: none;
    outline: none;
}

/* Set padding to keep content from hitting the edges */

html{
    background-color: darkgray;
}

header h2{
    color: ghostwhite;
    text-align: center;
}

.content{
    text-align: left;
}

.audio-controls-container{
    margin: 10px 0 30px 0;
    text-align: center;
}

.play-button{
    width: 23px;
    height: 23px;
    vertical-align: middle;
}

.play-button.prev:after{
    content: "\23EA";
}

.play-button.next:after{
    content: "\23E9";
}

.play-button.play:after{
    content: "\25BA";
}

.play-button.stop:after{
    content: "||";
    font-weight: bold;
}

.play-button.refresh:after{
    content: "\21BB";
    font-weight: bold;
}

input.play-progress{
    max-width: 350px;
    width: 350px;
    vertical-align: sub;
}

table.audio-grid{
    width: 100%;
    border-spacing:0;
    border-color: darkgray;
    /*background-color: gainsboro;*/
}

table.audio-grid tr{
    background-color: ghostwhite;
    height: 30px;
}

table.audio-grid tr:nth-child(2n+1){
    background-color: gainsboro;
}

table.audio-grid td:first-child{
    width: 5%;
}

table.audio-grid tr.current td:nth-child(2) div:after{
    content: "\266A";
    position: relative;
    left: 5px;
}

.song {
    cursor: pointer;
}

.song.current {
    font-weight:bold;
}