body {
    padding: 50px 30%;
}

button{
    border: none;
    outline: none;
}

/* Set padding to keep content from hitting the edges */

html{
    background-color: darkgray;
}

header h2{
    color: ghostwhite;
    text-align: center;
}

.content{
    text-align: left;
}

.audio-controls-container{
    text-align: center;
}

.artist-label{
    font-weight: bold;
}

.audio-title-label{
    font-style: italic;
}

.single-audio-controls-container{
    border: 1px solid gainsboro;
    background-color: lightgrey;
    padding: 10px;
}

.play-button{
    width: 23px;
    height: 23px;
    vertical-align: middle;
}

.play-button.prev:after{
    content: "\23EA";
}

.play-button.next:after{
    content: "\23E9";
}

.play-button.play:after{
    content: "\25BA";
}

.play-button.stop:after{
    content: "||";
    font-weight: bold;
}

.play-button.refresh:after{
    content: "\21BB";
    font-weight: bold;
}

.play-button.repeat{
    background-color: transparent;
    vertical-align: top;
    color: gray;
    font-weight:lighter;
}

.play-button.repeat.active{
    color: black;
    font-weight: bold;
}

.play-button.repeat:after{
    content: "\1F501";
}

input.play-progress, input.play-volume{
    vertical-align: sub;
}

input.play-progress{
    max-width: 200px;
    width: 250px;
}

input.play-volume{
    max-width: 100px;
    width: 100px;
}

table.audio-grid{
    width: 100%;
    border-spacing:0;
    border-color: darkgray;
    /*background-color: gainsboro;*/
}

table.audio-grid tr{
    background-color: ghostwhite;
    height: 30px;
}

table.audio-grid tr:nth-child(2n+1){
    background-color: gainsboro;
}

table.audio-grid tr th:not(first-child), table.audio-grid tr td:not(first-child){
    padding-right: 10px;
}

table.audio-grid td:first-child{
    width: 5%;
}

table.audio-grid td:nth-child(2){
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

table.audio-grid tr.current td:nth-child(2) div:after{
    content: "\266A";
    position: relative;
    left: 5px;
}

.song {
    cursor: pointer;
}

.song.current {
    font-weight:bold;
}