body {
    padding: 50px 30%;
}

button{
    border: none;
    outline: none;
}

/* Set padding to keep content from hitting the edges */

html{
    background-color: darkgray;
}

header h2{
    color: ghostwhite;
    text-align: center;
}

.content{
    text-align: left;
}

.play-button{
    width: 23px;
    height: 23px;
    vertical-align: middle;
}

.play-button.prev:after{
    content: "\23EA";
}

.play-button.next:after{
    content: "\23E9";
}

.play-button.play:after{
    content: "\25BA";
}

.play-button.stop:after{
    content: "||";
    font-weight: bold;
}

.play-button.refresh:after{
    content: "\21BB";
    font-weight: bold;
}

input.play-progress{
    max-width: 350px;
    width: 350px;
    vertical-align: sub;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.song {
    cursor: pointer;
}

.song.current {
    color: blue;
}